@media only screen and (min-width: 64em) {

    body {
        font-size: 1.5rem;
    }
    header h1 {
        font-size: 5rem;
    }
    header h2 {
        font-size: 2.5rem;
    }

    nav {
        background: #006992;
        background: -moz-linear-gradient(top, #006992 0%, #7db9e8 100%);
        background: -webkit-linear-gradient(top, #006992 0%, #7db9e8 100%);
        background: linear-gradient(to bottom, #006992 0%, #7db9e8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006992', endColorstr='#7db9e8', GradientType=0);
    }
    nav ul li a {
        font-size: 1.5rem;
        padding: 2px;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid figure:hover {
        box-shadow: .6rem .6rem 3rem rgba(0, 0, 0, 0.7);
    }

.bottom-content img {
        max-width: 600px;

    }
    section.weather-summary {
        max-width: 960px;
        grid-gap: 1rem;
        margin: 0 auto;
    }

/*    home page towns, stats, events*/
section.mainGrid article:nth-child(odd) > img {
        grid-column: 2;
    }

    section.mainGrid {
        /*        display: grid;*/
        max-width: 960px;
        margin: .5rem auto;
        grid-template-rows: 1fr;
        /*        padding: 1rem 0;*/
        background-color: white;
    }
    section.mainGrid article {
        display: grid;
        max-width: 960px;
        grid-template-columns: 1fr 1fr;
        grid-gap: .25rem;
        justify-content: center;
        /*        align-content: center;*/
        align-items: center;
        grid-auto-flow: dense;
    }

    section.mainGrid img {
        width: 450px;
/*        max-width: 100%;*/
        /*      height: auto;*/
    }
    
    /*
    section.mainGrid {
        max-width: 960px;
    }
*/
    section.mainGridL,
    article,
    .story {
        font-size: 1.2rem;
    }
/*
    section.mainGridL {
        width: 100%;
    }
*/
/*
    section.mainGridL article {
        grid-template-columns: 1fr 1fr 1fr;
    }
*/
    
/*
    section.mainGridL article {
        display: block;
    }
*/
/*
    section.mainGridL article {

        grid-template-rows: 1fr 1fr 1fr;
    }
*/
/*
    section.mainGridL article:nth-child(odd) > img {
        grid-row: 2;
    }
*/
/*    *****/
/*
    mainGridL img{
        grid-row: 2;
        
    }
    mainGridL .stuff{
        grid-row: 1;
        
    }
    
*/
/*****/
    
/*
    section.mainGridL img {
        width: 100%;
        height: auto;
        padding: .1rem;
        margin: .1rem;
    }
*/
    .mainGridL{
        display: flex;
        margin: 0 auto;
    } 
    .mainGridL img{
        width: 98%;
        margin: 0 auto;
    }
    .evenTown{
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
    }
    .oddTown{
        margin: 0 auto;
    }
/*
    section.mainGridL{
        max-width: 960px;
        grid-template-columns: 32% 32% 32%;
        grid-gap: 2%;
    }
*/
/*
    section.mainGridL{
       
        display: grid;
        grid-template-columns: repeat(autofit, minmax(240px, 1fr));
        grid-gap: 2rem;
    }
*/
/*
    section.mainGridL article:nth-child(odd) > img {
        grid-column: 2;
    }
*/
    .town{
        width: 100%;
        
    }
  
    
    .current-stuff {
        display: block;
        color: black;
        font-size: 1rem;
    }

    .stuff {
/*        font-size: .5em;*/
        text-align: center;
    }
.infoStuff{
    font-size: .7rem;
}
    #middle {
        display: block;
        margin: 0;
    }
    main figure {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    main figure img {
        /*
        max-width: 100%;
        margin: 0 auto;
*/
        width: 960px;
        margin: 0px auto;
        margin-bottom: 20px;
    }

    

    

}
