/* imported google fonts css style links */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
/*site plan colors
#79B791 med green
#CDEDFD lt blue
#006992 dk blue
#BBBBBB grey
#73D2DE med blue*/

* {
    box-sizing: border-box;
}

body {
   font-family: "Noto Sans", Arial, sans-serif;
    background-color: #CDEDFD;
}
#pageCenter {
    max-width: 960px;
    max-width: 2000px;
/*    min-width: 400px;*/
    margin: 0 auto;
}
a {
    color: whitesmoke;
}

header,
nav,
main,
footer {
    max-width: 100%;
/*     box-shadow: 0px 5px 15px gray;*/
}
header {
    color: #006992;
/*    background-color: #faf7d6;*/
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.headings {
/*
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
*/
}
header h1,
h2 {
    justify-content: center;
    margin: .25rem;
}
header h1 {
    font-size: 2rem;
    text-shadow: 1px 1px 3px gray;
}
header h2 {
    font-size: 1rem;
}

nav {
    text-align: left;
    max-width: 100%;
    box-shadow: 0px 3px 5px gray;
    background: #006992;
    background: -moz-linear-gradient(top, #006992 0%, #7db9e8 100%);
    background: -webkit-linear-gradient(top, #006992 0%, #7db9e8 100%);
    background: linear-gradient(to bottom, #006992 0%, #7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006992', endColorstr='#7db9e8', GradientType=0);
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}
nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}
nav ul li {
    font-family: "Fredoka One", "Lucida Bright", cursive;
    font-size: 1em;
    margin: .1em .5em;
}
nav ul li a {
    line-height: 3em;
    text-decoration: none;
    text-align: left;
}
nav ul li.active a {
    color: orange;
}
nav ul li a:hover {
    color: black;
    background-color: #73D2DE;
}
nav ul.hide {
    display: none;
}


p {
    margin: 1em
}

main {
    background-color: #faf7d6;
    background-color: #ffffff;
    background-color: #CDEDFD;
    max-width: 960px;
    margin: 0 auto;
    
}

.current-town h2 {
    display: block;
    margin: 0 auto;
    color: #79B791;
    text-align: center;
    font-size: 1.6em;
}
#middle figure img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
   
}
.iconDescription{
    text-align: center;
}
.iconDescription figure img{
  width: 100px;
    display: block;
    margin: 0 auto;
}
.tempHumidWind{
    text-align: center;
}
main article {
    display: block;
    padding: 0 1rem;
}


/*gallery    */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    width: 96%;
    margin:.5em;
}
.grid figure {
    width: 100%;
    margin: .1rem;
}
.grid img {
    width: 100%;
    padding: .1rem;
    margin: .1rem;
}
.grid figcaption {
    text-align: center;
    padding: .6rem;
}

/*town events*/
.current-stuff {
    display:none;
    
}
/*town data*/
.stuff {
    max-width: 300px;
    margin: 10px 10px 25px 25px;
}
/*home page story*/
.story{
    max-width: 300px;
    margin: 10px 10px 25px 25px;
}
/*
.current-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current-town {
    display: flex;
    width: 100%;
    justify-content: center;
}

.conditions {
    margin: 0 0 .8rem 0;
}

.current-temp {
    margin: .2rem 0;
}

.current-sky {
    margin: auto 2%;
}
*/
/*town page weather*/
.weather-summary {
    width: 100%;
    font-size: 1em;
    padding: .1em;
    margin: 0 1% 0;
}
.weather-summary img {
    width: 100px;
    height: auto;
    margin: 1rem;
    
}

.weather-summary {
    display: block;
}
/*
.iconDescription figure img {
    width: 100px;
    height: auto;
    margin: 0 0 0 0rem;
}
*/

/*
.weather-summary {
    width: 100%;
    font-size: 1em;
    padding: .1em;
    margin: 0 auto;
    
}
*/
/*
.iconDescription{
    display:block;
}
*/
/*
#weatherDescription{
    max-width: 100%;
    margin: 0 auto;
    
}
*/
/*
#weatherimage{
    width: 100%;
    margin: 0 auto;
}
*/
/*
.iconDescription:{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.iconDescription figure img {
    width: 100px;
    height: auto;
    margin: 0 0 0 2rem;
    
   
}
*/
/*    margin: .5rem .5rem .5rem 10rem;*/

/*
.weather-summary img {
    width: 100%;
    margin: 1rem;
}
*/
/*
.weather-summary h3 {
    text-align: center;
    padding: .2em;
}
*/


/*
.current {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: .5rem 0 0;
}
*/

.forecast {
    display: none;
/*    box-shadow:0 5px 15px rgba(0,0,0,0.3);*/
}
.ten-day-table {
    border: 2px solid black;
    width: 100%;
}
.ten-day-table td,
.ten-day-table th {
    width: 10%;
    text-align: center;
    padding: 1rem 0;
}

/*
.bottom-content {
    padding: 0;
    margin: 0 auto;
    font-size: 1rem;
}
*/
.bottom-content h3{
    text-align: center;
}
.bottom-content img{
    width: 100%;
    margin:0 auto;
}
/*individual city pages*/
/*
.bottom-content img {
    max-width: 100%;
    margin:0 auto;
    margin-left: 1em;
    margin-bottom: 1em;
}
*/
/*storm form*/
#storm {
    text-align: center;
    background-color: white;
    width: 45%;
    margin: 1rem auto;
}
form {
    background-color: white;
    width: 45%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px 10px 10px;
}
form fieldset {
    margin: 2rem 0;
    border: 1px solid #006992;
    border-radius: 10px;
    padding: .5rem 2%;
    padding:
}
form legend {
    font-size: 1.5rem;
    font-weight: 700;
    color: #006992;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: #006992;
    font-size: 1.1rem;
    font-weight: 500;
}
form label.top input,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .25rem;
    color: black;
    width: 100%; max-width: 25rem;
    background-color: rgba(0, 0, 0, 0.1);
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
    width: 100%;
}
form input.submitBtn {
/*    max-width: 30rem;*/
    border: none;
    background-color: #006992;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
/*    margin: 0 0 2rem 2%;*/
    margin: 0 auto;
    width: 100%;
    
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}
/*contact and footer bar*/
footer{
    
}
.contact {
    font-size: .9rem;
/*
    padding: .5rem;
    margin: 1rem;
*/
    text-align: center;
}
.footer-bar {
    padding: 2em;
    font-size: .7rem;
    background: #006992;
        background: -moz-linear-gradient(top, #006992 0%, #7db9e8 100%);
        background: -webkit-linear-gradient(top, #006992 0%, #7db9e8 100%);
        background: linear-gradient(to top, #006992 0%, #7db9e8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006992', endColorstr='#7db9e8', GradientType=0);
    color: whitesmoke;
    text-align: center;
    margin: 0 0 1.5rem 0;
    box-shadow: 0px 3px 5px gray;
}
