@media only screen and (min-width: 64em) {
    header {
        width: 960px;
    }
    header img {
        margin: auto;
    }
    .weather-summary {
        width: 400px;
        margin: 30px;
        font-size: 120%;
    }
    .minMax {
        width: 160px;
        float: right;
        margin-top: 2em;
    }

    .conditions {
        width: 160px;
        float: right;
        margin-top: 2em;
    }

    main figure img {
        display: block;
        width: 100%;
        margin-right: auto;
        margin-left: auto;

    }


    .current {
        width: 160px;
        float: right;
        margin-top: 2em;
    }

    .forecast {
        display: block;
        width: 450px;
        margin: 0 auto;
    }
    .forecast,
    thead,
    tbody,
    th,
    td,
    tr {
        border-collapse: collapse;
    }
    .forecast,
    thead,
    tbody,
    th,
    td,
    tr {
        border: 1px solid black;
    }


    article img {
        width: 300px;

    }
    .town-article {
        width: 45%;
        overflow: auto;
    }




}
