/* imported google fonts css style links */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

* {
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: "Noto Sans", Arial, sans-serif;
}

header,
nav,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

header {
    width: 100%;
    color: #006992;
}



header h1,
h2,
h3 {

    text-align: center;
}

header img {
    width: 100px;
    padding 10px;
    float: left;
}

header .subheading {}

nav {
    display: none;
}

nav button {}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav ul li {
    font-family: "Fredoka One", "Lucida Bright", cursive;
    font-size: 1.2em;
    display: inline;

}

nav ul li a {
    color: black;
    line-height: 3em;
    text-decoration: none;
    padding: 1em
}

nav ul li.active a {
    color: #79B791;
    line-height: 3em;
    text-decoration: none;
    padding: 1em
}

nav ul li a:hover {
    color: black;
    text-decoration: none;
    background-color: #73D2DE
}



.forecast {
    display: none;
}
.weather-summary{
    font-size: 1em;
}
table.center {
    margin-left: auto;
    margin-right: auto;
}



main {
    width: 100%;
    margin: 0 auto;
}

main h2 {
    color: #79B791;
}

main figure {
    width: 100%;
    margin: 0 auto;

}

main figure img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 10em;

}

main picture {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.article img {
    width: 300px;
    margin: 2em;
}

article{
    text-align: left;
    margin-left:2em;
    
}


.contact {
    font-size: 90%;
    padding: .5em;
    margin: 1em;


}

.footer-bar {
    padding: 1em;
    font-size: 75%;
    background-color: #006992;
    color: white;
}
