/* imported google fonts css style links */

@import url('https://fonts.googleapis.com/css?family=Cabin|Cabin+Condensed|Cabin+Sketch|Dancing+Script|Passion+One|Volkhov');
/*
font-family: 'Cabin Sketch', cursive;
font-family: 'Volkhov', serif;
font-family: 'Passion One', cursive;
font-family: 'Cabin Condensed', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Dancing Script', cursive;
*/

/*site plan colors
#6898AF grey blue
#007797 turquoise
#006E55 dk green
#BBBBBB grey
#3C871F bright green
#59804a muted green
1f650f green tip of logo
#171C55 dk purple*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Volkhov', serif;
    font-size: 16px;
    background-color: white;
    margin: 30px 50px;
    line-height: 1.4;
}
a{
    color: white;
}
#pageCenter {
    max-width: 1024px;
    min-width: 320px;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
}

#topBanner {
    /*    background-image: url(mtnBanner1L.jpg);*/
}

header {
    color: #171C55;
    max-width: 100%;
    background-color: white;
    display: flex;

    
/*
    flex-direction: row;
    justify-content: center;
    align-items: center;
*/

/*        padding: 1rem 1.5rem;*/
}

header h1 h2 {
    font-family: 'Cabin Sketch', cursive;
}
header h1 {
        font-size: .75rem;
    }
    header h2 {
        font-size: .75rem;
    }
header div {
    padding: 0 2rem;
}

nav {
    max-width: 100%;
    /*    min-height: 90px;*/
    text-align: left;

    background: linear-gradient(#730060, #1f650f)
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    color: #006E55;
    overflow: hidden;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
}

nav ul li {
    font-family: 'Cabin', sans-serif;
    font-size: 1em;
    margin: .1em .5em;
    color: white;
}

nav ul li a {
    line-height: 3em;
    display: block;
    text-decoration: none;
    text-align: left;
    color: white;
    padding: .8rem;
    text-align: center;
    font-size: 1.1rem;
    text-shadow: 2px 2px 4px #000;
}

nav ul li.active a {
    color: greenyellow;
}

nav ul li a:hover {
    color: greenyellow;
    background-color: #171C55;
}

nav ul.hide {
    display: none;
}

#welcome {
    margin: 1em;
}

#picOfWeek {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 0;
}

#picOfWeek img {
    max-height: 500px;
    min-height: 250px;
    min-width: 250px;
    padding: 1rem 0;
}

.text {}

#testimonial {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 0;
}

#testimonial img {
    max-height: 500px;
    min-height: 250px;
    min-width: 250px;
    padding: 1rem 0;
}

#famTownRide {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 0;
    justify-content: center;
}

#famTownRide img {
    max-height: 500px;
    min-height: 250px;
    min-width: 250px;
    padding: 1rem 0;
}

#easyRide {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 0;
}

#easyRide img {
    max-height: 500px;
    min-height: 250px;
    min-width: 250px;
    padding: 1rem 0;
}

#hardcoreRide {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 0;
}

#hardcoreRide img {
    max-height: 500px;
    min-height: 250px;
    min-width: 250px;
    padding: 1rem 0;
}

#epicRide {
    display: grid;
    grid-gap: 20px;
    /*    grid-template-columns: repeat(5, 1fr);*/
    grid-template-columns: 50px 100px 100px 50px auto;
    padding: 1rem 0;
}

.fancy {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
}

img {
    max-width: 100%;
}

p {
    margin: 1rem;
}

.cenText {
    text-align: center;
}

#gmap_canvas {
    margin: 0 auto;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderText {
    max-width: 512px;
}

.sliderBox {
    width: 600px;
    margin: 40px auto;
    overflow: auto;
}

.slider {
    width: 512px;
    height: 512px;
    /*    border:#666 solid 1px;*/
    padding: 3px;
    position: relative;
    overflow: hidden;
    float: left;
}

.slider img {
    display: none;
    width: 512px;
    height: 512px;
}

.slider img.current {
    display: inline-block;
}

.sliderBox2 {
    width: 600px;
    margin: 40px auto;
    overflow: auto;
}

.sliderEpic {
    width: 512px;
    height: 384px;
    border: #666 solid 1px;
    padding: 3px;
    position: relative;
    overflow: hidden;
    float: left;
}

.sliderEpic img {
    display: none;
    width: 512px;
    height: 384px;
}

.sliderEpic img.current {
    display: inline-block;
}

.previous {
    position: relative;
    margin-right: -3rem;
    z-index: 100;
}

.next {
    position: relative;
    margin-left: -3rem;
    z-index: 100;
}

.previous,
.next {
    margin-top: 130px;
    float: left;
    cursor: pointer;
}


#fourPack {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 0rem;
}

.mapouter {
    text-align: right;
    height: 250px;
    width: 300px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 250px;
    width: 300px;
}

.mapouter2 {
    text-align: right;
    max-height: 250px;
    max-width: 300px;
}

.mapouter2 img {
    padding: 1rem 0;
}

.gmap_canvas2 {
    overflow: hidden;
    background: none!important;
    height: 250px;
    width: 300px;
}

/*
#mapText {
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
}
*/

#bottomBanner {
    padding: 1rem 0 0 0;
}

footer {
    text-align: center;
    color: white;
    padding: 0 0 1rem 0;
    background: linear-gradient(#1f650f, #730060)
}

/*contact form*/

form {

    width: 45%;
    max-width: 960px;
    /*    margin: 0 auto;*/
    /*    padding: 0 10px 10px 10px;*/
    padding: 0;
}

form fieldset {
    /*    margin: 1rem 0;*/
    border: 1px solid #006992;
    border-radius: 10px;
    /*    padding: .5rem 2%;*/
    padding: 0;
}

form legend {
    font-size: 1.5rem;
    font-weight: 700;
    color: #171C55;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: #171C55;
    font-size: 1.1rem;
    font-weight: 500;
}

form label.top input,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .25rem;
    color: black;
    width: 100%;
    max-width: 25rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form input.submitBtn {
    border: none;
    background-color: #171C55;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 auto;
    width: 100%;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

#serviceTable {
    /*    display: none;*/
    /*    box-shadow:0 5px 15px rgba(0,0,0,0.3);*/
}

.repairs,
th,
td {
    border: 3px solid black;
    width: 100%;
}

.repairs td,
th {
    width: 10%;
    text-align: center;
    padding: 1rem 0;
}

#leftText {
    text-align: left;
}
