/* imported google fonts css style links */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
/*site plan colors
#79B791 med green
#CDEDFD lt blue
#006992 dk blue
#BBBBBB grey
#73D2DE med blue*/

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Noto Sans", Arial, sans-serif;
}


header,
nav,
main,
footer {
    max-width: 1230px;

}

header {
    color: #006992;
    display: flex;
    flex-direction: row;
    margin: .5em;
}

.headings {
    align-items: center;
    justify-content: center;
}

header h1,
h2 {
    justify-content: center;
    margin: .25rem;
}

header h1 {
    font-size: 2rem;
}

header h2 {
    font-size: 1rem;
}

nav {
    background-color: #006992;
    text-align: center;
    width: 1230px;
    box-shadow: 0px 3px 3px gray;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: flex;
    font-family: "Fredoka One", "Lucida Bright", cursive;
    font-size: 1em;
    margin: 1em 1em;
}

nav ul li a {
    display: flex;
    color: whitesmoke;

    line-height: 3em;
    text-decoration: none;
    text-align: center;


}

nav ul li.active a {
    color: #79B791;
}

nav ul li a:hover {
    color: black;
    background-color: #73D2DE;
}

nav ul.hide {
    display: none;
}

p {
    margin: 1em
}

main {
    background-color: #ffffff;
}

main h2 {
    display: block;
    width: 50%;
    margin: 0;
    color: #79B791;
    text-align: center;
    font-size: 2em;
}



main figure img {
    width: 100%;
    margin: 0;
    display: block;

}

.headings {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    width: 98%;
    margin: 1em;


}

.grid figure {
    width: 100%;
    margin: .1%;
}

.grid img {
    width: 100%;
    padding: .1rem;
    margin: .1rem;
}

.grid figcaption {
    text-align: center;
    padding: .6rem;
}

.grid p {
    text-align: left;
    font-size: 1em;
}



.current-town {
    display: flex;
    width: 100%;
    justify-content: center;
}

.conditions {
    margin: 0 0 .8rem 0;
}

.current-temp {
    margin: .2rem 0;
}

.current-sky {
    margin: auto 2%;
}

.weather-summary {
    width: 100%;
    font-size: 1em;
    padding: .1em;
    margin: 0 1% 0;

}

.weather-summary img {
    width: 100%;
    margin: 1rem;
}

.weather-summary h3 {
    text-align: center;
    padding: .2em;
}

.current {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: .5rem 0 0;
}

.forecast {
    display: none;

}

.ten-day-table {
    border: 2px solid black;
    width: 100%;
}

.ten-day-table td,
.ten-day-table th {
    width: 10%;
    text-align: center;
    padding: 1rem 0;
}

.bottom-content {
    padding: 1em;
    margin: 0 2% 1rem;

}

main article {
    display: block;
    padding: 0 1em;

}

main article img {
    max-width: 300px;

    margin-left: 1em;
    margin-bottom: 1em;
}


.current-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px 10px 10px;
}
#storm{
    text-align: center;
}
form fieldset {
    margin: 2rem 0;
    border: 1px solid #006992;
    border-radius: 10px;
    padding: .5rem 2%;   
}
form legend {
    font-size: 1.5rem;
    font-weight: 700;
    color: #006992;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: #006992;
    font-size: 1.1rem;
    font-weight: 500;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1 px #999;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 100%
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs{
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn{
    border: none;
    background-color: #555;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2re 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required{
    border-left: red solid 6px;
}
form label.top input:required:valid{
    border-left: green solid 6px;
}
.contact {
    font-size: 90%;
    padding: .5em;
    margin: 1em;
    text-align: center;
}

.footer-bar {
    padding: 1em;
    font-size: 75%;
    background-color: #006992;
    color: white;
    text-align: center;
}